<div class="nav">
  <div class="nav__logo">
    <h3 (click)="redirectto('')">
      <span class="nav__logo__espace">espace</span>
      <span class="nav__logo__convivialite">Convivialite</span>
      <span class="nav__logo__woo">|WOO</span>
    </h3>
  </div>

  <div class="nav__buttons">
    <button mat-button color="black" href="#">Maga .</button>
    <button mat-button color="black" href="#">Participer .</button>
    <button (click)="redirectto('activity')" mat-button color="black">Activités .</button>
  </div>

  <!-- <div class="nav__right">
    <button mat-raised-button color="black" href="#">Contact</button>
  </div> -->
</div>

<div class="navbarBackground">
  
</div>

