<div class="nav">
  <div class="nav__logo">
    <h3 (click)="redirectto('')">
      <span class="nav__logo__espace">espace</span>
      <span class="nav__logo__convivialite">Convivialite</span>
      <span class="nav__logo__woo">|WOO</span>
    </h3>
  </div>

  <div class="nav__buttons">
    <button mat-button color="black" href="#">Maga .</button>
    <button mat-button color="black" href="#">Participer .</button>
    <button (click)="redirectto('activity')" mat-button color="black">Activités .</button>
  </div>

</div>


<mat-tab-group class="mobile-nav" color="black" mat-stretch-tabs="false" mat-align-tabs="center">
  <mat-tab label="First">
    <ng-template mat-tab-label>
      <span (click)="redirectto('')">home</span>
    </ng-template>
  </mat-tab>
  <mat-tab label="Second">
    <ng-template mat-tab-label>
      <span (click)="redirectto('activity')">activity</span>
    </ng-template>
  </mat-tab>
  <mat-tab label="Third">
    <ng-template mat-tab-label>
      <span (click)="redirectto('activity')">activity</span>
    </ng-template>
  </mat-tab>
</mat-tab-group>
