<div class="wrapper">
    <div class="herotext">
        <p>I am iron man</p>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, nobis! </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, amet. Magni quam, saepe numquam nobis pariatur quasi cumque veritatis nulla voluptatibus libero perspiciatis nam veniam ex odit rem dolorum vitae ab mollitia.</p>
    </div>
    <img class="heroimage" width=80% height=auto src="../../assets/images/hands.png"/>
    <div class="textleft">
        <h4>Lorem ipsum dolor sit.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim aut sapiente cupiditate sint placeat quae repellat dignissimos, architecto dolorem expedita?</p>
    </div>
    <div class="textcenter">
        <h4>Lorem ipsum dolor sit.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim aut sapiente cupiditate sint placeat quae repellat dignissimos, architecto dolorem expedita?</p>
    </div>
    <div class="textright">
        <h4>Lorem ipsum dolor sit.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim aut sapiente cupiditate sint placeat quae repellat dignissimos, architecto dolorem expedita?</p>
    </div>
</div>