<div class="wrapper">
    <div class="herotext">
        <p>I am iron man</p>
        <h2>Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda, nobis! </h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odit, amet. Magni quam, saepe numquam nobis pariatur quasi cumque veritatis nulla voluptatibus.</p>
        <button class="but" mat-raised-button color="black">About us</button>
    </div>
    <div class="heroimage mat-elevation-z8">
       <img class="" width="100%" src="../../assets/images/hands.png"/>
    </div>

    
    <div class="textleft">
        <h4>Lorem ipsum dolor sit.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim aut sapiente cupiditate sint placeat quae repellat dignissimos, architecto dolorem expedita?</p>
        <p class="little">Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
    </div>
    <div class="textcenter">
        <h4>Lorem ipsum dolor sit.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim aut sapiente cupiditate sint placeat quae repellat dignissimos, architecto dolorem expedita?</p>
        <p class="little">Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
    </div>
    <div class="textright">
        <h4>Lorem ipsum dolor sit.</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Enim aut sapiente cupiditate sint placeat quae repellat dignissimos, architecto dolorem expedita?</p>
        <p class="little">Lorem, ipsum dolor sit amet consectetur adipisicing.</p>
    </div>
</div>